body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

form{
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

input, button{
    padding: 10px;
    font-size: 14px;
}

button{
    background: aqua;
    color: white;
    border: none;
    cursor: pointer;
}

.card-home{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    text-align: center;
}